/* custom font */

@font-face {
  font-family: 'Hylia Serif Beta';
  src: url('../assets/fonts/HyliaSerif.ttf') format('truetype');
}

.container {
  padding: 12px;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.scores {
  display: flex;
  gap: 10px;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid var(--light-brown);
}

.title,
.sub-text {
  display: none;
}

.footer {
  margin-top: 55px;
  text-align: center;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
}

.audio-player {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
}

.audio-player button {
  border: none;
  font-size: 1.3rem;
}

.music-text {
  display: none;
}

/* for desktop */

@media (min-width: 1024px) {
  .container {
    padding: 30px;
  }

  .title {
    font-family: 'Hylia Serif Beta', sans-serif;
    font-size: 2.7rem;
    display: block;
  }

  .sub-text {
    font-size: 1.2rem;
    display: block;
  }

  .scores {
    flex-direction: column;
  }

  .music-text {
    display: block;
  }

  .audio-player button {
    font-size: 1.1rem;
  }

  .scores {
    font-size: 1.2rem;
    padding: 15px;
  }
}
