

/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* root */

:root {
  --bg-color: #ffecc7;
  --font-color: #7b5100;
  --light-brown: #B57700;
  --shadow: #AAAAAA;
}